/* Banner */
.section-banner{
    p{
        font-size: large;
        text-align:left;
        font-family: 'LG-regular';
    }
    .banner{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../medios/banner-provis.jpg);
        height: 250px;
        p{
            color: $blanco;
            font-size:50px;
            font-family: 'LG-bold';
            line-height: 0.7;
            span{
                font-size: 30px;
            }
        }
    }
}

/*Electrodomésticos*/
.section-electrodomesticos{
    margin-top: 20px;
    p{
        text-align: center;
        font-family: 'LG-bold';
        color: $negro;
        font-size: 40px;
    }
    .electrodomesticos{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }


}
    