/*LG Smart regular*/
@font-face {
    font-family:'LG-regular';
    src: url(../css/tipografia/LGSmartRegular.woff);
}

@font-face {
    font-family: 'LG-bold';
    src: url(../css/tipografia/LGSmartBold.woff);
}

//Colores
$negro: black;
$gris: rgb(126, 126, 126);
$plata: rgb(192, 192, 192);
$blanco: white;

