/*LG Smart regular*/
@font-face {
    font-family:'LG regular';
    src: url(tipografia/LG\ Smart\ Regular.woff);
}

//Colores
$negro: black;
$gris: rgb(126, 126, 126);
$plata: rgb(192, 192, 192);
$blanco: white;

